<div class="d-flex">
  <nav class="bg-light p-3 vh-100" style="width: 250px;">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" routerLink="/dashboard">Dashboard</a>
        <a class="nav-link" routerLink="/users">Usuários</a>
        <a class="nav-link" routerLink="/topics">Tópicos</a>
        <a class="nav-link" routerLink="/questions">Questões</a>
        <a class="nav-link" routerLink="/alternatives">Alternativas</a>
      </li>
    </ul>
  </nav>
  <div class="flex-grow-1 p-4">
    <router-outlet></router-outlet>
  </div>
</div>
