# ============================
# .NET / C#
# ============================

## Ignore build outputs
bin/
obj/

## User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates
*.vs/
.vscode/
*.dbmdl
*.pdb
*.cache
*.log
*.tlog
*.ilk
*.tmp
*.csproj.user

## NuGet packages
*.nupkg
packages/
*.snupkg

## ASP.NET specific
wwwroot/node_modules/

## Rider IDE
.idea/

## Development
**/appsettings.Development.json
**/keys

# ============================
# Angular
# ============================

# Compiled output
/dist/
/out-tsc/
/build/

# NPM packages
/node_modules/
node_modules

# Angular cache
.angular/
.angular/cache/

# IDE files
.vscode/
*.sublime-project
*.sublime-workspace

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db

# ============================
# General
# ============================

# Logs
*.log

# Others
*.swp
*.bak
*.tmp
*.temp
*.orig
*.rej

# dotenv files
.env
.env.*

# Ignore test coverage results
coverage/

# Ignore local secrets
secrets.*

